{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  {% block style %}
  {% endblock style %}
</head>
<body>
  <nav class="navbar is-yellow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item is-size-5" href="{% url 'index' %}">emergency compliment</a>
        <a role="button" class="navbar-burger" data-target="navbarBasicExample" aria-label="menu" aria-expanded="false" >
          <span class="burger-element" aria-hidden="true"></span>
          <span class="burger-element" aria-hidden="true"></span>
          <span class="burger-element" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a href="#" class="navbar-item">About</a>
        </div>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/navbar-burger.js' %}"></script>
  <script>
    // Credit: https://stackoverflow.com/a/3627747
    Array.prototype.random = function () {
      return this[Math.floor(Math.random() * this.length)];
    }

    const BG_COLORS = ['#F2ED53', '#E5B156', '#B4CF4E']
    const COLORING_ELEMENTS_SELECTOR = '*:not(.burger-element)'

    $(COLORING_ELEMENTS_SELECTOR).css('background-color', BG_COLORS.random())
  </script>
  {% block javascript %}
  {% endblock javascript %}
</body>
</html>
