{% load static %}
{% load links %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  {% block style %}
  {% endblock style %}
  <style>
    @media (max-width: 1023px) {
      .navbar-menu .navbar-item {
        border-bottom: 2px solid black;
      }
      .navbar-menu .navbar-item:first-child {
        border-top: 2px solid black;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  </style>
</head>
<body>
  <nav class="navbar is-yellow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item is-size-5 has-text-weight-semibold" href="{% url 'index' %}">emergency happiness</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" >
          <span class="burger-element" aria-hidden="true"></span>
          <span class="burger-element" aria-hidden="true"></span>
          <span class="burger-element" aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a href="#" class="navbar-item">About</a>
          <a class="navbar-item" href="{% instagram_url %}">
            <i class="fab fa-instagram is-size-3"></i>
          </a>
          <a class="navbar-item" href="{% telegram_url %}">
            <i class="fab fa-telegram-plane is-size-3"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function setBgColor(color) {
      const COLORING_ELEMENTS_SELECTOR = '*:not(.burger-element)'
      let bgColor = color == null ? '{{ request.session.bg_color }}' : color
      $(COLORING_ELEMENTS_SELECTOR).css('background-color', bgColor)
    }
    setBgColor()

    $(document).ready(function() {
      $(".navbar-burger").click(function() {
          $(".navbar-burger").toggleClass("is-active");
          $(".navbar-menu").toggleClass("is-active");
          if ($(".navbar-menu").hasClass("is-active")) {
            $('.navbar-menu').css({'-webkit-box-shadow' : 'none', '-moz-box-shadow' : 'none', 'box-shadow' : 'none'});
          }
      });
    });
  </script>
  {% block javascript %}
  {% endblock javascript %}
</body>
</html>
