{% extends 'base.html' %}

{% block title %}
  Emergency compliment
{% endblock %}

{% block content %}
<div class="columns is-centered is-vcentered" style="height: 90vh;">
  <div class="column is-half mt-4" >
    <p class="is-size-2 has-text-centered has-text-weight-semibold" id="compliment_paragraph">
      {{ compliment.text }}
    </p>
    <div class="buttons is-centered are-large mt-4">
      <a href="https://www.greatbigstuff.com" class="is-size-1 mr-6">&#128540;</a>
      <a class="is-size-1" id="next_compliment_btn">&#9197;</a>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $("#next_compliment_btn").click(function (e) {
      e.preventDefault()
      let compliment_paragraph = $('#compliment_paragraph')
      $.ajax({
        type: 'GET',
        url: "{% url 'get_new_compliment' %}",
        data: {"old_compliment_text": compliment_paragraph.text()},
        success: function (response) {
          if (response['result']) {
            new_compliment = response['new_compliment']
            compliment_paragraph.text(new_compliment)

            old_bg_color = $('*').css('background-color')
            do {
              new_bg_color = BG_COLORS.random()
            }
            while (compareColors(old_bg_color, new_bg_color))

            console.log(old_bg_color, new_bg_color)
            console.log(old_bg_color == new_bg_color)
            $(COLORING_ELEMENTS_SELECTOR).css('background-color', new_bg_color)
          }
        },
        error: function (response) {
          console.log(response)
        }
      })
    })

    // Credit: https://stackoverflow.com/a/19406153
    function compareColors(left, right) {
      // Create a dummy element to assign colors to.
      var dummy = $('<div/>');

      // Set the color to the left color value, and read it back.
      $(dummy).css('color', left);
      var adjustedLeft = $(dummy).css('color');

      // Set the color to the right color value, and read it back.
      $(dummy).css('color', right);
      var adjustedRight = $(dummy).css('color');

      // Both colors are now adjusted to use the browser's internal format,
      // so we can compare them directly.
      return adjustedLeft == adjustedRight;
    }
</script>
{% endblock javascript %}